.nav-bar {
    background: url("../img/login/nav1_bg.gif") repeat-x scroll 0 100% #666E73;
    border-bottom: 1px solid #2D444F;
    border-top: 1px solid #2D444F;
    padding: 0 30px;
}
#nav {
    float: left;
}
#nav li {
    position: relative;
    text-align: left;
}
#nav li.over {
    z-index: 99;
}
#nav li.active {
    z-index: 100;
}
#nav a, #nav a:hover {
    display: block;
    text-decoration: none;
}
#nav span {
    display: block;
}
#nav a {
    line-height: 1.3em;
}
#nav li {
    background: url("../img/login/nav1_sep.gif") no-repeat scroll 100% 0 transparent;
    float: left;
}
#nav li.active {
    background: url("../img/login/nav1_active.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: -1px;
}
#nav li.active em {
    background: url("../img/login/nav1_active.gif") no-repeat scroll 100% 0 transparent;
    display: block;
    height: 27px;
    position: absolute;
    right: -1px;
    top: 0;
    width: 3px;
}
#nav a {
    color: #FFFFFF;
    float: left;
    line-height: 27px;
    padding: 0 14px;
}
#nav li.over a {
    color: #D6E2E5;
}
#nav ul li, #nav ul li.active {
    background: none repeat scroll 0 0 transparent;
    float: none;
    height: auto;
    margin: 0;
}
#nav ul a, #nav ul a:hover {
    float: none;
    line-height: 1.3em;
    padding: 0;
}
#nav ul li.over a, #nav ul li.over a:hover, #nav ul a, #nav li.active li {
    font-weight: normal;
}
#nav ul {
    border-top: 1px solid #2D444F;
    left: -10000px;
    padding-bottom: 3px;
    position: absolute;
    top: 27px;
    width: 189px;
}
#nav ul ul {
    background: url("../img/login/nav3_bg.png") no-repeat scroll 0 0 transparent;
    border-top: 0 none;
    left: 100px;
    padding-top: 2px;
    top: 13px;
}
#nav li.over ul {
    left: -1px;
}
#nav li.over ul ul {
    left: -10000px;
}
#nav li.over ul li.over ul {
    left: 100px;
}
#nav ul li {
    background: url("../img/login/nav2_li_bg.png") repeat-y scroll 0 0 transparent;
    padding: 0 2px;
}
#nav ul li a {
    background: none repeat scroll 0 0 #E3ECEE;
}
#nav ul li a:hover {
    background: none repeat scroll 0 0 #D0DFE2;
}
#nav li.over ul a, #nav ul li.active a, #nav ul li a, #nav ul li a:hover {
    color: #2F2F2F;
}
#nav ul span, #nav ul li.last li span {
    background: url("../img/login/nav2_link_bg.gif") repeat-x scroll 0 100% transparent;
    padding: 5px 15px;
}
#nav ul li.last span, #nav ul li.last li.last span {
    background: none repeat scroll 0 0 transparent;
}
#nav ul li.last {
    background: url("../img/login/nav2_last_li_bg.png") no-repeat scroll 0 100% transparent;
    padding-bottom: 3px;
}
#nav ul li.parent a, #nav ul li.parent li.parent a {
    background-image: url("../img/login/nav2_parent_arrow.gif");
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
#nav ul li.parent li a, #nav ul li.parent li.parent li a {
    background-image: none;
}
#nav li.parent a, #nav li.parent li.parent a, #nav li.parent li.parent li.parent a {
    cursor: default;
}
#nav li.parent li a, #nav li.parent li.parent li a, #nav li.parent li.parent li.parent li a {
    cursor: pointer;
}
#nav ul ul ul {
    left: -10000px;
}
#nav li.over ul li.over ul ul {
    left: -10000px;
}
#nav li.over ul li.over ul li.over ul {
    left: 100px;
}
.nav-bar:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
